@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "~material-icons/iconfont/material-icons.css";

/* Root Variables */

:root {
  --base-font-size: 14px;
  --base-font-family: "Poppins", sans-serif;
  --title-font-size: 24px;
  --base-background-color: #eee;

  /* Related to dashboard */
  --dashboard-left-sidebar-background: #fff;
  --dashboard-content-background: var(--base-background-color);

  /* Related to Navbar */
  --auth-navbar-background: var(--dashboard-left-sidebar-background);
  --navbar-height: 50px;

  /* Related to file or folder item */
  --file-item-background: #fff;

  /* Device sizes */
  --tablet-width: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  background-color: var(--base-background-color);
  height: 100%;
  width: 100%;
}

/* Change styles for mobile browsers */
@media screen and (max-width: 850px) {
  :root {
    --base-font-size: 12px;
    --title-font-size: 20px;
  }
}

/* Reset for old browsers */
section,
article,
aside {
  display: block;
}

/* Global styles */
a {
  text-decoration: none;
}

/* Styles related to dashboard */
@import "./dashboard.css";

/* Import utilities such as: margin, padding etc. */
@import "./utils.css";

/* import components */
@import "./components.css";

/* Import login styles */
@import "./login.css";
