/* utils classes */
.mr-10 {
  margin-right: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.p-20 {
  padding: 20px;
}

/* columns using flex */
.columns {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  .is-hidden-mobile {
    display: none;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .login .columns {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .login .card {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
  }
  .column {
    width: 100%;
    flex: 1;
    margin: 10px 0;
  }
}
