/* utils classes */
.mr-10 {
  margin-right: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.p-20 {
  padding: 20px;
}

/* columns using flex */
.columns {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
